:root{
    /* Theme 1 */
    --t1mainbg: hsl(222, 26%, 31%);
    --t1keypadbg: hsl(223, 31%, 20%);
    --t1resultbg: hsl(224, 36%, 15%);

    --t1numbgColor:  hsl(225, 21%, 49%);
}

body{
    background-color: var(--t2mainbg)
    font-size: 11px;
    background-color: var(--t1mainbg);
    font-size: 32px;
    font-family: 'Spartan', sans-serif;
}

section{
    margin-top: 50px;
}


button{
    background-color: white;
    color:hsl(224, 28%, 35%);
    border-radius: 10px;
    margin-left: 8px;
    border-bottom: 4px solid hsl(28, 16%, 65%);
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecera{
    color: white;
}

#resultado{
    color: white;
}

#resultadocontainer{
    background-color: var(--t1resultbg);
    border-radius: 10px;
    height: 55px;
}

#numbers {
    background-color: var(--t1keypadbg);
    border-radius: 10px;
    height: 420px;
}

#borrar{
    font-size: 15px;
    color: white;
    background-color: var(--t1numbgColor);
    border-bottom: var(--t1mainbg) 4px solid;
}

#igual{
    color: white;
    background-color:hsl(6, 63%, 50%);
    font-size: 15px;
    padding: 0.7rem;
    border-bottom: 4px solid hsl(6, 70%, 34%);
}

.letraPequena{
    font-size: 20px;
}

.t1{
    color: hsl(6, 63%, 50%);
}

.t2{
    color: hsl(25, 98%, 40%);
}



.t3{
    color: hsl(176, 100%, 44%);
}

/* hsl(228, 45%, 44%);; */

/* Poner tamaño fijo al screen */